body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f3e5f5; 
    color: #333; 
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #6a1b9a; 
}

header {
    background: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(10px);
    padding: 35px; 
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

header a {
    margin: 0 25px;
    text-decoration: none;
    color: #6a1b9a; 
    font-weight: bold;
    font-size: 22px;
    transition: color 0.3s;
}

header a:hover {
    color: #ab47bc; 
}

nav {
    background-color: #e1bee7; 
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 12px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    margin: 0 25px;
    text-decoration: none;
    color: #4a148c; 
    font-weight: bold;
    cursor: pointer;
    font-size: 22px;
    transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover,
nav a.active {
    color: #ab47bc; 
    border-bottom: 3px solid #ab47bc;
}

.section {
    margin-bottom: 30px;
    padding: 40px;
    border: 3px solid #ce93d8; 
    border-radius: 16px;
    background: white;
    max-width: 1400px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}

.section.active {
    display: block;
}

button {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px 32px;
    font-size: 20px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #ab47bc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 20px;
}

th,
td {
    border: 2px solid #ddd;
    padding: 14px;
    text-align: left;
}

th {
    background-color: #e1bee7;
    color: #4a148c;
}

/* Mensagens de erro e sucesso */
.res-cadastrar {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: green;
    font-size: 20px;
}

.res-cadastrar.error {
    color: red;
    font-size: 20px;
}
